*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/wdw.avif);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    transition: 0.5s;
    &.toggleBlanco{
    background-image: url(/img/q.jpg);
    background-position: center;
    background-size: cover;
    }
} 



#toggle{    
    height: 160px;
    width: 320px;
    background-image: url('https://i.pinimg.com/originals/94/ff/74/94ff7463a1574221ba6d4ada2c997e0b.gif');
    background-position: bottom;
    background-size: cover;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                inset 0 8px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    appearance: none;
    border-radius: 7rem;
    &.toggleBlanco{
        background-color: aliceblue;
        box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
                    inset 0 2px 8px rgba(0, 0, 0, 0.1),
                    inset 0 -4px 4px rgba(0, 0, 0, 0.1);
                    background-image:url('https://i.ibb.co/ZWmbGbj/etmfdr.gif');
      
        .circulo{
            left: 160px;
            box-shadow: 0 2px 6cap rgba(0, 0, 0, 0.1),
            inset 0 2px 8px rgba(255, 255, 255, 0.1),
            inset 0 -4px 4px rgba(255, 255, 255, 0.1);
        }
}
}

.circulo{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
    content: "";
    background: linear-gradient(to bottom, #4444, #222);
    border-radius: 50vh;
    transform: scale(0.9);
    transition: 0.5s;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 4px 4px rgba(255, 255, 255, 0.2),
                inset -4px 4px rgba(255, 255, 255, 0.2);
}
